<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Progress (All suites)</title>

    <link rel="stylesheet" type="text/css" href="./css/daily_progress.css">
</head>
<body>
    <div class="row">
        <div class="block_left">
            <p class="title">Hasal Daily Progress (Windows7)</p>
            <table class="chart">
                <tr>
                    <th></th>
                    <th>suite</th>
                    <th>firefox</th>
                    <th>chrome</th>
                </tr>
                <!--windows8 goes here-->
            </table>
        </div>
        <div class="block_right">
            <p class="title">Hasal Daily Progress (Windows10)</p>
            <table class="chart">
                <tr>
                    <th></th>
                    <th>suite</th>
                    <th>firefox</th>
                    <th>chrome</th>
                </tr>
                <!--windows10 goes here-->
            </table>
        </div>
    </div>
</body>
</html>